@import "variables";

//mixins
@mixin header {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: $gray-600;
  padding: 3rem 0;
}

@mixin hr-short-blue {
  width: 120px;
  border-top: 2px solid $blue;
}

@mixin button {
  border: 2px solid $blue;
  border-radius: 0;
  text-transform: uppercase;
  color: $gray-600;
  margin: 3rem 0;

  &:hover {
    color: $white;
  }
}

@mixin gray-border {
  border: 2px solid $gray-400;
  border-radius: 0;
}

//styles

.navbar {
  margin-top: 0;
  height: 6rem;

  ul {
    margin: 0 auto;
  
    li {
    text-transform: uppercase;
      a {
        color: #ffffff !important;
        font-size: 1.3rem;
        
        &:hover {   
          text-decoration: underline;
        }
      }   
    }
  }
}

.section-a {
  margin: 10rem 0;
    h1 {
      @include header()
    }
    

    img {
      height: 70vh;
    }
}

.section-b {
  background-color: $gray-200;

  img {
    object-fit: cover;
    width: 270px;
    height: 270px;
  }
}

.form-control {
  @include gray-border()
}

h2 {
  @include header()
}

hr {
  @include hr-short-blue()
}

.btn-outline-primary {
  @include button()
}

.section-d {
  font-size: 2.5rem;
  margin-bottom: 6rem;
}

footer {
  color: $gray-600;

}